.card {
  width: 540px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.card__title {
  margin: 0 0 32px 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.card__list-item {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}
.card__list-item:last-child {
  margin: 0;
}
.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}
