.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}

.nav__logo {
  position: relative;
  left: 30px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  justify-content: space-evenly;
  position: relative;
  right: 50px;
  font-weight: 500;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  color: #000;
  transition: color 0.25s linear;
}

.nav__link:hover {
  color: #2f80ed;
}
